body {
  margin: 0rem;
  padding: 0rem;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.background{
  background-image: url(../assets/img/cool-background.png), linear-gradient(#eb01a5, #d13531);
  background-size: 100%;
  width: 100%;
  height: 520px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.heading{
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  color: black;
}
h1{
  margin-bottom: .5rem;
  font-size: 3rem;
  font-weight: 600;
}
.headline-color{
  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  font-family: 'Bungee Inline', cursive;
  font-weight: 400;
  font-size: 3.4rem;
  color: #19194d;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.45;
  filter: aplha(opacity=50);
  height: 540px;
  z-index: -1;
}
.input-group{
  padding-top: 2rem;
}

.form-control{
  padding: .8rem 1rem .6rem;
  border-left: 0;
  border-radius: 0.5rem;
  width: 740px;
  height: 60px;
  font-size: 1.4rem;
  box-sizing: border-box;
  background-color: whitesmoke;
}
.search-icon{
  width: 6rem;
  font-size: x-large;
  background-color: #333399;
  border-color: #2d2d86;
}
.form-group {
  padding: .8rem 1rem .6rem;
  border-left: 0;
  border-radius: 0.5rem;
  width: 740px;
  height: 60px;
  font-size: 1.4rem;
  box-sizing: border-box;
}
.search-bar{
  display: flex;
  flex-wrap: wrap;
}

.listing-categories{
  position: relative;
  width: 19.2rem;
  padding: 0;
}

/* Page 1 */
.row {
  padding-top: 3.5rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.news-placeholder{
  min-width: 740px;
}

@media screen and (max-width: 768px) {
  .container {
    width:100%;
    margin:0;
    border-radius:0;
  }
}