*, *::before, *::after {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hide {
	/* display: none; */
}

body {
	/* background-size: cover;
	color: black;
	padding: 1rem 1rem 1rem 1rem; */
}

h3 {
	/* color: #32373c;
	font-size: 16px; */
}

button {
	/* background-color: rgba(94, 218, 218, 0.75);
	border: 2px solid rgba(0, 128, 128, 0.5);
	border-radius: 1rem;
	font-size: medium;
	margin: 2px; */
}

button:hover {
	/* background-color: rgba(94, 218, 218, 1.0);
	border: 2px solid rgba(0, 128, 128, 1.0); */
}

.container {
	/* background-color: rgba(128, 128, 128, 0.75) ;
	padding: 1rem;
	margin: 10px auto 10px auto;
	max-width: 650px;
	min-height: 4rem;
	border-radius: 1rem;
	box-shadow: 0 0 10px 2px;
	border: 8px solid teal ;
	border-width: thick; */
}
