*, *::before, *::after {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divimage {
	background-image: url('../img/img4.jpg');
	padding-top: 5rem;
	padding-bottom: 5rem;
	height: 35rem;
	opacity: 90%;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	opacity: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
	margin-bottom: 0;
	opacity: 0;
}

.btn-primary {
    background-color: #72c02c;
    border-color: #72c02c;
}

/* Button Styles
------------------------------------*/
/* General Button Styles */
.btn {
	position: relative;
	transition: .2s ease;
	cursor: pointer;
  }
  
  .btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
	box-shadow: none;
  }
  
  /* Button Content
  ------------------------------------*/
  .u-btn-content {
	white-space: normal;
  }
  
  /* Buttons Only Icon (O)
  ------------------------------------*/
  .u-btn-only-icon {
	position: relative;
  }
  
  .u-btn-only-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
  }
  
  /* Button Sizes
  ------------------------------------*/
  /* Extra Small */
  .btn-xs {
	line-height: 1.4;
	padding: 0.14286rem 0.5rem;
	font-size: 0.78571rem;
  }
  
  /* Medium */
  .btn-md {
	line-height: 1.4;
	padding: 0.57143rem 1.42857rem;
	font-size: 1.07143rem;
  }
  
  /* Extra Large */
  .btn-xl {
	line-height: 1.4;
	padding: 0.92857rem 1.85714rem;
	font-size: 1.28571rem;
  }
  
  /* Extramly Large */
  .btn-xxl {
	line-height: 1.4;
	padding: 1.07143rem 2.14286rem;
	font-size: 1.5rem;
  }
  
  /* Button Types
  ------------------------------------*/
  /* Inset Buttons */
  .u-btn-inset {
	position: relative;
  }
  
  .u-btn-inset::before {
	position: absolute;
	top: 0.14286rem;
	right: 0.14286rem;
	bottom: 0.14286rem;
	left: 0.14286rem;
	content: "";
	border: solid 1px #fff;
	border-radius: 1px;
  }
  
  .u-btn-inset--rounded::before {
	border-radius: 50px;
  }
  
  /* 3d Buttons */
  .u-btn-3d {
	border-bottom: solid 3px rgba(0, 0, 0, 0.2);
  }
  
  .u-btn-3d:hover {
	border-bottom-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Skew Button */
  .u-btn-skew {
	-webkit-transform: skewX(-20deg);
			transform: skewX(-20deg);
  }
  
  .u-btn-skew__inner {
	-webkit-transform: skewX(20deg);
			transform: skewX(20deg);
	display: block;
  }
  
  /* Button Hovers
  ------------------------------------*/
  [class*="u-btn-hover"] {
	z-index: 1;
  }
  
  [class*="u-btn-hover"]:hover {
	text-decoration: none;
  }
  
  [class*="u-btn-hover"]:focus {
	text-decoration: none;
  }
  
  [class*="u-btn-hover"]::after {
	position: absolute;
	content: "";
	z-index: -1;
	transition: all .3s;
  }
  
  /* Hover v1-1 */
  .u-btn-hover-v1-1::after {
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
  }
  
  .u-btn-hover-v1-1:hover::after {
	height: 100%;
  }
  
  /* Hover v1-2 */
  .u-btn-hover-v1-2::after {
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
  }
  
  .u-btn-hover-v1-2:hover::after {
	width: 100%;
  }
  
  /* Hover v1-3 */
  .u-btn-hover-v1-3::after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
  }
  
  .u-btn-hover-v1-3:hover::after {
	height: 100%;
  }
  
  /* Hover v1-4 */
  .u-btn-hover-v1-4::after {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
  }
  
  .u-btn-hover-v1-4:hover::after {
	width: 100%;
  }
  
  /* Hover v2-1 */
  .u-btn-hover-v2-1::after {
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
  }
  
  .u-btn-hover-v2-1:hover::after {
	left: 0;
	width: 100%;
  }
  
  /* Hover v2-2 */
  .u-btn-hover-v2-2::after {
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
  }
  
  .u-btn-hover-v2-2:hover::after {
	top: 0;
	height: 100%;
  }
  
  /* Button Primary */
  .btn-primary {
	color: #fff;
	background-color: #72c02c;
  }
  
  .btn-primary:hover, .btn-primary.active {
	border-color: #8cd54a;
	background-color: #8cd54a;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary.active {
	color: #fff;
  }

  
  .u-btn-primary.u-btn-hover-v1-1 {
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v1-1::after, .u-btn-primary.u-btn-hover-v1-1:hover::after {
	background-color: #7fd135;
  }
  
  .u-btn-primary.u-btn-hover-v1-1:hover {
	background-color: #72c02c;
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v1-2 {
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v1-2::after, .u-btn-primary.u-btn-hover-v1-2:hover::after {
	background-color: #7fd135;
  }
  
  .u-btn-primary.u-btn-hover-v1-2:hover {
	background-color: #72c02c;
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v1-3 {
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v1-3::after, .u-btn-primary.u-btn-hover-v1-3:hover::after {
	background-color: #7fd135;
  }
  
  .u-btn-primary.u-btn-hover-v1-3:hover {
	background-color: #72c02c;
	overflow: hidden;
  }


/*------------------------------------
  Checkboxes
------------------------------------*/
.u-check {
	position: relative;
	cursor: pointer;
  }
  
  .u-check-icon-font {
	display: inline-block;
	font-size: 0;
	padding-left: 1px;
	padding-right: 1px;
  }
  
  .u-check-icon-font i {
	font-size: 22px;
	color: #ccc;
  }
  
  .u-check-icon-font i::before {
	content: attr(data-uncheck-icon);
  }
  
  
  .u-btn-primary.u-btn-hover-v1-4 {
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v1-4::after, .u-btn-primary.u-btn-hover-v1-4:hover::after {
	background-color: #7fd135;
  }
  
  .u-btn-primary.u-btn-hover-v1-4:hover {
	background-color: #72c02c;
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v2-1 {
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v2-1::after, .u-btn-primary.u-btn-hover-v2-1:hover::after {
	background-color: #7fd135;
  }
  
  .u-btn-primary.u-btn-hover-v2-1:hover {
	background-color: #72c02c;
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v2-2 {
	overflow: hidden;
  }
  
  .u-btn-primary.u-btn-hover-v2-2::after, .u-btn-primary.u-btn-hover-v2-2:hover::after {
	background-color: #7fd135;
  }
  
  .u-btn-primary.u-btn-hover-v2-2:hover {
	background-color: #72c02c;
	overflow: hidden;
  }
  
  /* Button White */
  .u-btn-white {
	color: #555;
	background-color: #fff;
  }
  
  .u-btn-white:hover, .u-btn-white.active {
	border-color: white;
	background-color: white;
  }
  
  .u-btn-white:hover, .u-btn-white:focus, .u-btn-white.active {
	color: #555;
  }
  
  .u-btn-white.g-btn-hover-reset:hover, .u-btn-white.g-btn-hover-reset.active {
	background-color: #fff;
	border-color: #fff;
  }
  
  .u-btn-white.u-btn-hover-v1-1 {
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v1-1::after, .u-btn-white.u-btn-hover-v1-1:hover::after {
	background-color: white;
  }
  
  .u-btn-white.u-btn-hover-v1-1:hover {
	background-color: #fff;
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v1-2 {
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v1-2::after, .u-btn-white.u-btn-hover-v1-2:hover::after {
	background-color: white;
  }
  
  .u-btn-white.u-btn-hover-v1-2:hover {
	background-color: #fff;
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v1-3 {
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v1-3::after, .u-btn-white.u-btn-hover-v1-3:hover::after {
	background-color: white;
  }
  
  .u-btn-white.u-btn-hover-v1-3:hover {
	background-color: #fff;
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v1-4 {
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v1-4::after, .u-btn-white.u-btn-hover-v1-4:hover::after {
	background-color: white;
  }
  
  .u-btn-white.u-btn-hover-v1-4:hover {
	background-color: #fff;
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v2-1 {
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v2-1::after, .u-btn-white.u-btn-hover-v2-1:hover::after {
	background-color: white;
  }
  
  .u-btn-white.u-btn-hover-v2-1:hover {
	overflow: hidden;
	background-color: transparent;
  }
  
  .u-btn-white.u-btn-hover-v2-2 {
	overflow: hidden;
  }
  
  .u-btn-white.u-btn-hover-v2-2::after, .u-btn-white.u-btn-hover-v2-2:hover::after {
	background-color: white;
  }
  
  .u-btn-white.u-btn-hover-v2-2:hover {
	overflow: hidden;
	background-color: transparent;
  }
  

.hide {
	/* display: none; */
}

body {
	/* background-size: cover;
	color: black;
	padding: 1rem 1rem 1rem 1rem; */
}

h3 {
	/* color: #32373c;
	font-size: 16px; */
}

button {
	/* background-color: rgba(94, 218, 218, 0.75);
	border: 2px solid rgba(0, 128, 128, 0.5);
	border-radius: 1rem;
	font-size: medium;
	margin: 2px; */
}

button:hover {
	/* background-color: rgba(94, 218, 218, 1.0);
	border: 2px solid rgba(0, 128, 128, 1.0); */
}

.container {
	/* background-color: rgba(128, 128, 128, 0.75) ;
	padding: 1rem;
	margin: 10px auto 10px auto;
	max-width: 650px;
	min-height: 4rem;
	border-radius: 1rem;
	box-shadow: 0 0 10px 2px;
	border: 8px solid teal ;
	border-width: thick; */
}
